@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #10b981;
  --color-primary-dark: #059669;
  --color-background-light: #f3f4f6;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-vazir: var(--font-vazirmatn), sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--color-background-light);
  color: #1e293b; /* slate-800 approx */
  font-family: var(--font-vazir);
}
